docker {
    enabled = true
}

params.reference_fasta = '/betelgeuse10/analysis/utsu/resources/SpliceAI/hg19_v0_Homo_sapiens_assembly19.fasta'
params.annotation_gtf = '/betelgeuse10/analysis/utsu/resources/SpliceAI/grch37.txt'

params.vep_data = '/betelgeuse10/analysis/utsu/resources/vep/vep_data'
params.vep_plugin_resources = '/betelgeuse10/analysis/utsu/resources/vep/plugin_resources'
