*.vcf
*.warning.txt

*.splai.vep.vcf.pkl
*.splai.vep.vcf.enst.pkl

*.splai.vep.nondel.vcf
*.splai.vep.nondel.vcf.pkl
*.splai.vep.nondel.vcf.enst.pkl

all_DM_chr1-22.splai.vep.nondel.vcf.enst.scored.pkl
allchr.gnomad.splai.vep.vcf.enst.prescore.hgnconly.pkl

*.pkl